{% extends 'base.html' %}
{% block title %}热销{% endblock %}
{% block page_title %}热销{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax-plugin.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var seletor = $('.selectpicker');
            seletor.selectpicker();
            seletor.on('change', function () {
                var selected = $('.selectpicker option:selected').val();
                window.location.href = '/hotstuff/?category=' + selected;
            });

            var category = {{ category }};
            $('.selectpicker option').each(function() {
                if($(this).val() == category){
                    seletor.selectpicker('val', category);
                }
            });
        });
    </script>
{% endblock %}
{% block breadcrumb %}
    <li class="active"><a href="#">首页</a></li>
    <li><a href="#">热销</a></li>
    <li><a href="#">ebay</a></li>
{% endblock %}
{% block content %}
    <div class="panel">

        <!--DATA TABLE-->
        <!--===================================================-->


        <div class="panel-body">

            <div class="bootstrap-table">
                <div class="fixed-table-toolbar">
                    <div class="bars pull-left">
                        <h4 id="demo-custom-toolbar" class="box-inline text-thin">
                            ebay
                        </h4>
                    </div>
                    <div class="columns btn-group pull-right">
                        <select class="selectpicker" style="width:60%;" data-live-search="true" name="category">
                            <option value="0">所有</option>
                            <optgroup label="手机">
                                <option value="1001">手机</option>
                                <option value="1002">手机配件</option>
                                <option value="1003">智能手表</option>
                            </optgroup>
                            <optgroup label="电脑平板">
                                <option value="2001">平板设备</option>
                                <option value="2002">数据线</option>
                                <option value="2003">网络设备</option>
                                <option value="2004">存储设备</option>
                            </optgroup>
                            <optgroup label="消费电子">
                                <option value="3001">便携音箱</option>
                                <option value="3002">智能家居</option>
                                <option value="3003">家庭监控</option>
                                <option value="3004">车载电子</option>
                                <option value="3005">多用途电池子</option>
                            </optgroup>
                            <optgroup label="玩具教育">
                                <option value="4001">教育</option>
                                <option value="4002">遥控模型</option>
                            </optgroup>
                            <optgroup label="运动装备">
                                <option value="5001">骑行</option>
                                <option value="5002">健身</option>
                                <option value="5003">户外运动</option>
                            </optgroup>
                        </select>
                    </div>
                    {#                    <div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div>#}
                </div>
                <div class="fixed-table-container">
                    <div class="fixed-table-header">
                        <table></table>
                    </div>
                    <div class="fixed-table-body">
                        <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                        <table id="demo-table" class="table-striped table table-hover"
                               data-toolbar="#demo-custom-toolbar" data-sort-name="id" data-sort-order="desc"
                               data-pagination="true" data-url="data1.json" data-show-refresh="true"
                               data-show-toggle="true" data-show-columns="true" data-search="true"
                               data-select-item-name="toolbar1">
                            <thead>
                            <tr>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">序号</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="">
                                    <div class="th-inner sortable">标题</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">售出数</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">关注数</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">国家</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">价格</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">价格类型</div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stuff in stuffs %}
                                <tr data-index="{{ forloop.counter }}">
                                    <td style="text-align: center;">{{ forloop.counter }}</td>
                                    <td style=""><a class="btn-link" href="{{ stuff.url }}" target="_blank">{{ stuff.title }}</a></td>
                                    <td style="text-align: center; ">{{ stuff.sold }}</td>
                                    <td style="text-align: center; ">{{ stuff.watching }}</td>
                                    <td style="text-align: center; ">{{ stuff.country }}</td>
                                    <td style="text-align: center; ">{{ stuff.price }}</td>
                                    <td style="text-align: center; ">{{ stuff.price_type }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="fixed-table-pagination">
                        <div class="pull-left pagination-detail">
                            {#                            <span class="pagination-info">第 {{ stuffs.start_index }} 至 {{ stuffs.end_index }} 条</span>#}
                            <span class="pagination-info"> 第 {{ stuffs.number }} 页 共 {{ stuffs.paginator.num_pages }} 页</span>
                            <span class="page-list">
                                每页
                                <span class="btn-group dropup">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="page-size">25</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)">10</a></li>
                                        <li class="active"><a href="javascript:void(0)">25</a></li>
                                        <li><a href="javascript:void(0)">50</a></li>
                                        <li><a href="javascript:void(0)">100</a></li>
                                    </ul>
                                </span>
                                条
                            </span>
                        </div>
                        <div class="pull-right pagination">
                            <ul class="pagination">
                                {% if stuffs.has_previous %}
                                    <li class="page-first"><a href="?category={{ category }}&page=1">首页</a></li>
                                    <li class="page-pre"><a href="?category={{ category }}&page={{ stuffs.previous_page_number }}">上一页</a></li>
                                    {% if stuffs.previous_page_number > 1 %}
                                        <li class="page-number"><a href="?category={{ category }}&page={{ stuffs.previous_page_number|add:-1 }}">{{ stuffs.previous_page_number|add:-1 }}</a></li>
                                    {% endif %}
                                    <li class="page-number"><a href="?category={{ category }}&page={{ stuffs.previous_page_number }}">{{ stuffs.previous_page_number }}</a></li>
                                {% else %}
                                    <li class="page-pre disabled"><a href="javascript:void(0)">上一页</a></li>
                                {% endif %}
                                <li class="page-number active"><a href="javascript:void(0)">{{ stuffs.number }}</a></li>
                                {% if stuffs.has_next %}
                                    <li class="page-number"><a href="?category={{ category }}&page={{ stuffs.next_page_number }}">{{ stuffs.next_page_number }}</a></li>
                                    {% if stuffs.paginator.num_pages > stuffs.next_page_number %}
                                        <li class="page-number"><a href="?category={{ category }}&page={{ stuffs.next_page_number|add:1 }}">{{ stuffs.next_page_number|add:1 }}</a></li>
                                    {% endif %}
                                    <li class="page-next"><a href="?category={{ category }}&page={{ stuffs.next_page_number }}">下一页</a></li>
                                    <li class="page-last"><a href="?category={{ category }}&page={{ stuffs.paginator.num_pages }}">末页</a></li>
                                {% else %}
                                    <li class="page-next disabled"><a href="javascript:void(0)">下一页</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--===================================================-->
        <!--END OF DATA TABLE-->


    </div>
{% endblock %}