{% extends 'base.html' %}
{% block title %}刊登{% endblock %}
{% block page_title %}刊登{% endblock %}
{% block css %}
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/js/lightbox-2.7.1/css/lightbox.css" rel="stylesheet">
    <link href="/static/js/jquery-ui-1.11.2.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/js/jquery-ui-1.11.2.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <style type="text/css">
        #images {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #images li {
            margin: 3px;
            padding: 0;
            float: left;
        }
    </style>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/jquery.serializeJSON-2.4.1/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lazyload-1.9.3/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax-plugin.min.js"></script>
    <script type="text/javascript" src="/static/js/lightbox-2.7.1/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/ebay-utils.js"></script>
    <script type="text/javascript">
        function gen_category() {
            ajaxPost('/api/gen_category/', function (response) {
                alert(response.result);
            });
        }

        $(document).ready(function () {
            $('#summernote').summernote({
                height: 250,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']]
                ]
            });
            $(".note-toolbar").append('<div class="note-style btn-group">' +
            '<button type="button" class="btn btn-default btn-sm btn-small" title="Translate" tabindex="-1" onclick="translateContent()">' +
            '<i class="fa fa-magic"></i></button></div>');
            $('img.lazy').lazyload();

            $('.chosen-select').chosen();
            $('.selectpicker').selectpicker();
            $('#images').sortable();

            //翻译
            $('a.gtranslate').click(function () {
                var obj = $(this);
                var lang = obj.attr('data-lang');
                var target = 'input[name="' + obj.attr('data-text') + '"]';
                var text = $(target).attr('value');
                ajaxPost('/api/translate/', {'text': text, 'lang': lang}, function (response) {
                    $(target).val(response.result);
                });
            });

            //save
            $('button#btn-save').click(function () {
                var btn = $(this);
                btn.button('loading');
                //表单检查
                if(!formValidate()) {
                    btn.button('reset');
                    return;
                }
                //表单提交
                var data = formData();
{#            alert(JSON.stringify(data));#}
                ajaxPost('/listing/detail/ebay/save/', data, function(response){
                    var dataType = 'danger';
                    var htmlData = '<strong><li class="fa fa-frown-o"></li> 保存失败!</strong> 出现未知错误，请联系管理员！';
                    if(response.result == 'succeed'){
                        dataType = 'success';
                        htmlData = '<strong><li class="fa fa-smile-o"></li> 保存成功!</strong>';
                    }
                    $.niftyNoty({
                        type: dataType,
                        container : 'page',
                        html : htmlData,
                        timer : 5000
                    });
                    btn.button('reset');
                });
            });

            //list
            $('button#btn-list').click(function () {
                var btn = $(this);
                btn.button('loading');
                //表单检查
                if(!formValidate()) {
                    btn.button('reset');
                    return;
                }
                //表单提交
                var data = formData();
                ajaxPost('/listing/detail/ebay/list/', data, function(response){
                    var dataType = 'danger';
                    var htmlData = '<strong><li class="fa fa-frown-o"></li> 刊登失败!</strong> 出现未知错误，请联系管理员！';
                    if(response.result == 'success'){
                        dataType = 'success';
                        htmlData = '<strong><li class="fa fa-smile-o"></li> 刊登成功！</strong>' + response.url;
                    }else if(response.result == 'warning'){
                        dataType = 'warning';
                        htmlData = '<strong><li class="fa fa-smile-o"></li> 刊登成功！</strong> ' + response.url + response.msg;
                    }else if(response.result == 'failure'){
                        dataType = 'danger';
                        htmlData = '<strong><li class="fa fa-smile-o"></li> 刊登失败！</strong> ' + response.url + response.msg;
                    }
                    $.niftyNoty({
                        type: dataType,
                        container : 'page',
                        html : htmlData,
                        timer : 0
                    });
                    btn.button('reset');
                });
            });

        });

    </script>
{% endblock %}
{% block breadcrumb %}
    <li><a href="#">首页</a></li>
    <li><a href="#">刊登</a></li>
    <li class="active"><a href="#">ebay</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ebay</h3>
            </div>

            <!--INPUT SIZE-->
            <!--===================================================-->
            <form id="main-form" method="post">
                <input type="hidden" name="id" value="{{ item.id }}">

                <div class="panel-body form-horizontal">
                    <div class="col-md-12">
                        <h5 class="control-label" style="text-align: left;">刊登</h5>
                        <hr>

                        <div class="form-group">
                            <label class="col-md-2 control-label">ebay账户</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="account">
                                    {% for value, name in form.fields.account.choices %}
                                        <option value="{{ value }}" {% if value == item.account %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                                {#                    <small class="help-block">This is a help text</small>#}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">站点</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:220px;" name="site_id">
                                {% for value, name in form.fields.site_id.choices %}
                                    <option value="{{ value }}" {% if value == item.site_id %}selected="selected"{% endif %}>{{ name }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">刊登类型</label>

                            <div class="col-md-10">
                                <div class="radio">
                                    {% for value, name in form.fields.list_type.choices %}
                                        <label class="form-radio form-normal">
                                            <input type="radio" name="list_type" value="{{ value }}" {% if value == item.list_type %}checked=""{% endif %}> {{ name }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">分类</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">ebay分类</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="ebay_cat_primary" value="{{ item.ebay_cat_primary }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="ebay_cat_secondary" value="{{ item.ebay_cat_secondary }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商店分类</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" style="width:60%;" name="store_cat_primary">
                                    {% for value, name in form.fields.store_cat_primary.choices %}
                                    <option value="{{ value }}" {% if value == item.store_cat_primary %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" style="width:60%;" name="store_cat_secondary">
                                    {% for value, name in form.fields.store_cat_secondary.choices %}
                                    <option value="{{ value }}" {% if value == item.store_cat_secondary %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">物品</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="demo-text-input">标题</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 95%;">
                                    <input class="form-control" type="text" name="title" value="{{ item.title }}">

                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown"
                                                class="btn btn-info btn-labeled fa fa-magic dropdown-toggle"
                                                type="button"
                                                aria-expanded="true"><i class="dropdown-caret fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li class="dropdown-header">翻译</li>
                                            <li><a href="javascript:void(0);" class="gtranslate" data-text="title" data-lang="en">英语</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">工具</li>
                                            <li><a href="javascript:void(0);">替换同义词</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述</label>

                            <div class="col-md-10">
                                <textarea id="summernote" style="display: none;" name="describe">{{ item.describe|safe }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">图片</label>

                            <div class="col-md-10">
                                <ul id="images">
                                    {% for image in item.get_image_checked_list %}
                                        <li>
                                            <div class="thumbnail" style="margin-bottom: 5px;">
                                                <a href="{{ image }}" data-lightbox="roadtrip">
                                                    <img class="lazy" src="{{ image }}" data-holder-rendered="true" style="height: 120px; width: 130px; display: block;">
                                                </a>

                                                <div class="caption">
                                                    <label class="form-checkbox form-normal form-info">
                                                        <input type="checkbox" rel="images" value="{{ image }}" checked=""> 图片 {{ forloop.counter }}
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% for image in item.get_image_list %}
                                        <li>
                                            <div class="thumbnail" style="margin-bottom: 5px;">
                                                <a href="{{ image }}" data-lightbox="roadtrip">
                                                    <img class="lazy" src="{{ image }}" data-holder-rendered="true" style="height: 120px; width: 130px; display: block;">
                                                </a>

                                                <div class="caption">
                                                    <label class="form-checkbox form-normal form-info">
                                                        <input type="checkbox" rel="images" value="{{ image }}"> 图片 {{ item.get_image_checked_list|length|add:forloop.counter }}
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">售价</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="price" value="{{ item.price }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">数量</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <input type="text" class="form-control" name="quality" value="{{ item.quality }}">
                                    <span class="input-group-addon">Pics</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">刊登天数</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <select class="selectpicker" data-live-search="false" name="duration">
                                        {% for value, name in form.fields.duration.choices %}
                                            <option value="{{ value }}" {% if value == item.duration %}selected="selected"{% endif %}>{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">物品所在地</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="item_location" value="{{ item.item_location }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">国家或地区</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:220px;" name="item_country">
                                    {% for value, name in form.fields.item_country.choices %}
                                        <option value="{{ value }}" {% if value == item.item_country %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">邮政编码</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="item_postal" value="{{ item.item_postal }}">
                            </div>
                        </div>

                        <h5 class="control-label" style="text-align: left;">国内运输</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">处理时间</label>

                            <div class="col-md-10">
                                <select class="selectpicker" name="dispatch_time_max">
                                    {% for value, name in form.fields.dispatch_time_max.choices %}
                                        <option value="{{ value }}" {% if value == item.dispatch_time_max %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运输方式</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="shipping_internal_service">
                                    <optgroup label="Economy services">
                                        <option value="US_DGMSmartMailGroundFromHK">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="US_DGMSmartMailGroundFromTW">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="US_DGMSmartMailGroundFromCN">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="Other">Economy Shipping ( 1 to 10 business days )</option>
                                        <option value="FedExSmartPost">FedEx SmartPost ( 2 to 8 business days )</option>
                                        <option value="USPSMedia">USPS Media Mail ( 2 to 8 business days )</option>
                                        <option value="USPSParcel">USPS Parcel Select ( 2 to 9 business days )</option>
                                        <option value="USPSStandardPost">USPS Standard Post ( 2 to 9 business days )</option>
                                    </optgroup>
                                    <optgroup label="Expedited services">
                                        <option value="ShippingMethodExpress">Expedited Shipping ( 1 to 4 business days )</option>
                                        <option value="FedEx2Day">FedEx 2Day ( 1 to 3 business days )</option>
                                        <option value="FedExExpressSaver">FedEx Express Saver ( 1 to 4 business days )</option>
                                        <option value="UPS2ndDay">UPS 2nd Day Air ( 2 to 3 business days )</option>
                                        <option value="UPS3rdDay">UPS 3 Day Select ( 3 to 4 business days )</option>
                                        <option value="USPSPriority">USPS Priority Mail ( 1 to 4 business days )</option>
                                        <option value="USPSExpressMail">USPS Priority Mail Express ( 1 to 2 business days )</option>
                                        <option value="USPSExpressFlatRateEnvelope">USPS Priority Mail Express Flat Rate Envelope ( 1 business day )</option>
                                        <option value="USPSExpressMailLegalFlatRateEnvelope">USPS Priority Mail Express Legal Flat Rate Envelope ( 1 business day )</option>
                                        <option value="USPSPriorityFlatRateEnvelope">USPS Priority Mail Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailLargeFlatRateBox">USPS Priority Mail Large Flat Rate Box ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailLegalFlatRateEnvelope">USPS Priority Mail Legal Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityFlatRateBox">USPS Priority Mail Medium Flat Rate Box ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailPaddedFlatRateEnvelope">USPS Priority Mail Padded Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailSmallFlatRateBox">USPS Priority Mail Small Flat Rate Box ( 1 to 4 business days )</option>
                                    </optgroup>
                                    <optgroup label="One-day services">
                                        <option value="FedExPriorityOvernight">FedEx Priority Overnight ( 1 business day )</option>
                                        <option value="FedExStandardOvernight">FedEx Standard Overnight ( 1 business day )</option>
                                        <option value="ShippingMethodOvernight">One-day Shipping ( 1 business day )</option>
                                        <option value="UPSNextDayAir">UPS Next Day Air ( 1 business day )</option>
                                        <option value="UPSNextDay">UPS Next Day Air Saver ( 1 business day )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="US_DHLGlobalMailParcelDirectFromHK">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="US_DHLGlobalMailParcelDirectFromCN">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="US_DHLGlobalMailParcelDirectFromTW">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="EconomyShippingFromOutsideUS">Economy Shipping from outside US ( 11 to 23 business days )</option>
                                        <option value="ePacketChina" selected="selected">ePacket delivery from China ( 7 to 12 business days )</option>
                                        <option value="ePacketHongKong">ePacket delivery from Hong Kong ( 7 to 12 business days )</option>
                                        <option value="ExpeditedShippingFromOutsideUS">Expedited Shipping from outside US ( 1 to 4 business days )</option>
                                        <option value="US_FedExIntlEconomy">FedEx International Economy ( 2 to 4 business days )</option>
                                        <option value="StandardShippingFromOutsideUS">Standard Shipping from outside US ( 5 to 10 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromHK">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromCN">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromTW">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromTW">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromCN">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromHK">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="Pickup">Local Pickup</option>
                                    </optgroup>
                                    <optgroup label="Standard services">
                                        <option value="US_DGMSmartMailExpeditedFromHK">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="US_DGMSmartMailExpeditedFromCN">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="US_DGMSmartMailExpeditedFromTW">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="FedExHomeDelivery">FedEx Ground or FedEx Home Delivery ( 1 to 6 business days )</option>
                                        <option value="ShippingMethodStandard">Standard Shipping ( 1 to 6 business days )</option>
                                        <option value="UPSGround">UPS Ground ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromCN">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromTW">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromHK">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="USPSFirstClass">USPS First Class Package ( 2 to 6 business days )</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运费</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_internal_cost" value="{{ item.shipping_internal_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">额外每件加收</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_internal_additional_cost" value="{{ item.shipping_internal_additional_cost }}">
                                </div>
                            </div>
                        </div>

                        <h5 class="control-label" style="text-align: left;">国际运输</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运输方式</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="shipping_international_service">
                                    <optgroup label="Expedited services">
                                        <option value="ExpeditedDeliveryToRussia">Expedited International Courier Delivery to Russia ( 7 to 14 business days )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="OtherInternational">Economy Int'l Shipping</option>
                                        <option value="ExpeditedInternational">Expedited Int'l Shipping</option>
                                        <option value="FedExGroundInternationalToCanada">FedEx Ground International for Canada</option>
                                        <option value="FedExInternationalEconomy">FedEx International Economy</option>
                                        <option value="FedExInternationalPriority">FedEx International Priority</option>
                                        <option value="US_RUTrackedFromChina">RU Tracked Packet from China ( 7 to 15 business days )</option>
                                        <option value="StandardInternational" selected="selected">Standard Int'l Shipping</option>
                                        <option value="UPSStandardToCanada">UPS Standard To Canada</option>
                                        <option value="UPSWorldWideExpedited">UPS Worldwide Expedited ( 2 to 5 business days )</option>
                                        <option value="UPSWorldWideExpress">UPS Worldwide Express ( 1 to 2 business days )</option>
                                        <option value="UPSWorldWideExpressPlus">UPS Worldwide Express Plus ( 1 to 2 business days )</option>
                                        <option value="UPSWorldwideSaver">UPS Worldwide Saver ( 1 to 3 business days )</option>
                                        <option value="USPSFirstClassMailInternational">USPS First Class Mail Intl / First Class Package Intl Service</option>
                                        <option value="USPSExpressMailInternational">USPS Priority Mail Express International ( 3 to 5 business days )</option>
                                        <option value="USPSExpressMailInternationalFlatRateEnvelope">USPS Priority Mail Express International Flat Rate Envelope ( 3 to 5 business days )</option>
                                        <option value="USPSExpressMailInternationalLegalFlatRateEnvelope">USPS Priority Mail Express International Legal Flat Rate Envelope ( 3 to 5 business days )
                                        </option>
                                        <option value="USPSPriorityMailInternational">USPS Priority Mail International ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalFlatRateEnvelope">USPS Priority Mail International Flat Rate Envelope ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalLargeFlatRateBox">USPS Priority Mail International Large Flat Rate Box ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalLegalFlatRateEnvelope">USPS Priority Mail International Legal Flat Rate Envelope ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalFlatRateBox">USPS Priority Mail International Medium Flat Rate Box ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalPaddedFlatRateEnvelope">USPS Priority Mail International Padded Flat Rate Envelope ( 6 to 10 business days )
                                        </option>
                                        <option value="USPSPriorityMailInternationalSmallFlatRateBox">USPS Priority Mail International Small Flat Rate Box ( 6 to 10 business days )</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运费</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_international_cost" value="{{ item.shipping_international_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">额外每件加收</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_international_additional_cost" value="{{ item.shipping_international_additional_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运送范围</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="shipping_international_area" value="{{ item.shipping_international_area }}">
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">付款</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">付款方式</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="payment_method">
                                    <option value="PayPal" selected="selected">PayPal</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">PayPal</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="payment_account">
                                    {% for value, name in form.fields.payment_account.choices %}
                                        <option value="{{ value }}" {% if value == item.payment_account %}selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">收款要求</label>

                            <div class="col-md-10">
                                <select class="selectpicker" multiple title="Choose one of the following...">
                                    <option>American express</option>
                                    <option>Cash on pickup accepted</option>
                                    <option>Discover card</option>
                                    <option>Integrated merchant credit card</option>
                                    <option>Money order / Cashier's check</option>
                                    <option>Other - See item description</option>
                                    <option>Personal check</option>
                                    <option>Visa or Master card</option>
                                    <option selected="selected">Require immediate payment</option>
                                    <option>Other online payments</option>
                                </select>
                            </div>
                        </div>
                        <h5 class="control-label" style="text-align: left;">退货政策</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货政策</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="ReturnsAccepted" selected="selected">Returns Accepted</option>
                                    <option value="ReturnsNotAccepted">Returns Not Accepted</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货天数</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="Days_14" selected="selected">14 days</option>
                                    <option value="Days_30">30 days</option>
                                    <option value="Days_60">60 days</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退款方式</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="MoneyBack" selected="selected">Money Back</option>
                                    <option value="MoneyBackOrReplacement">Money back or replacement (buyer's choice)</option>
                                    <option value="MoneyBackOrExchange">Money back or exchange (buyer's choice)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货运费承担</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option selected="selected">Buyer</option>
                                    <option>Seller</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <button class="btn btn-info btn-labeled fa fa-save fa-lg dropdown-toggle"
                                data-toggle="dropdown" type="button" aria-expanded="true">
                            工具 <i class="dropdown-caret fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0)" onclick="gen_category()">刷新目录</a></li>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">即将支持</li>
                            <li><a href="#">wish</a></li>
                        </ul>
                    </div>
                    <button id="btn-save" class="btn btn-warning btn-labeled fa fa-save fa-lg" type="button" data-loading-text="正在保存...">保存</button>
                    <button id="btn-list" class="btn btn-danger btn-labeled fa fa-plus-square-o fa-lg" type="button" data-loading-text="正在刊登...">立即刊登</button>
                </div>
            </form>
            <!--===================================================-->
            <!-- END OF INPUT SIZE  -->

        </div>
    </div>
{% endblock %}