{% extends 'base.html' %}
{% block title %}刊登{% endblock %}
{% block page_title %}刊登{% endblock %}
{% block css %}
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/js/lightbox-2.7.1/css/lightbox.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/jquery.serializeJSON-2.4.1/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lazyload-1.9.3/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax-plugin.min.js"></script>
    <script type="text/javascript" src="/static/js/lightbox-2.7.1/js/lightbox.min.js"></script>
    <script type="text/javascript">
        function gen_category() {
            ajaxPost('/api/gen_category/', function (response) {
                alert(response.result);
            });
        }

        function list_ebay_save() {
            var data = $('#main-form').serializeJSON();
{#            alert(JSON.stringify(data));#}
            ajaxPost('/listing/detail/ebay/save/', data, function(response){
                var dataType = 'danger';
                var htmlData = '<strong><li class="fa fa-frown-o"></li> 保存失败!</strong> 出现未知错误，请联系管理员！';
                if(response.result == 'succeed'){
                    dataType = 'success';
                    htmlData = '<strong><li class="fa fa-smile-o"></li> 保存成功!</strong>';
                }
                $.niftyNoty({
                    type: dataType,
                    container : 'page',
                    html : htmlData,
                    timer : 5000
                });
            });
        }

        $(document).ready(function () {
            $('#demo-summernote').summernote({height: 250});
            $('img.lazy').lazyload();

            $('a.gtranslate').click(function () {
                var obj = $(this);
                var lang = obj.attr('data-lang');
                var target = 'input[name="' + obj.attr('data-text') + '"]';
                var text = $(target).attr('value');
                ajaxPost('/api/translate/', {'text': text, 'lang': lang}, function (response) {
                    $(target).val(response.result);
                });
            });

            $('.chosen-select').chosen();
            $('.selectpicker').selectpicker();
        });

    </script>
{% endblock %}
{% block breadcrumb %}
    <li><a href="#">首页</a></li>
    <li><a href="#">刊登</a></li>
    <li class="active"><a href="#">ebay</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">ebay</h3>
            </div>

            <!--INPUT SIZE-->
            <!--===================================================-->
            <form method="post" id="main-form">
                <input type="hidden" name="id" value="{{ item.id }}">

                <div class="panel-body form-horizontal">
                    <div class="col-md-12">
                        <h5 class="control-label" style="text-align: left;">刊登</h5>
                        <hr>

                        <div class="form-group">
                            <label class="col-md-2 control-label">ebay账户</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="account">
                                    <option selected="selected">tengyutrade2014</option>
                                </select>
                                {#                    <small class="help-block">This is a help text</small>#}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">站点</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:220px;" name="site_id">
                                    <option value="0" selected="selected">美国</option>
                                    <option value="1">加拿大(英语)</option>
                                    <option value="25">加拿大(法语)</option>
                                    <option value="2">英国</option>
                                    <option value="3">澳大利亚</option>
                                    <option value="4">奥地利</option>
                                    <option value="5">比利时(法语)</option>
                                    <option value="9">比利时(荷兰语)</option>
                                    <option value="6">法国</option>
                                    <option value="7">德国</option>
                                    <option value="8">意大利</option>
                                    <option value="10">荷兰</option>
                                    <option value="11">西班牙</option>
                                    <option value="12">瑞士</option>
                                    <option value="14">eBay 汽车</option>
                                    <option value="15">香港</option>
                                    <option value="16">新加坡</option>
                                    <option value="17">印度</option>
                                    <option value="19">爱尔兰</option>
                                    <option value="20">马来西亚</option>
                                    <option value="21">菲律宾</option>
                                    <option value="22">波兰</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">刊登类型</label>

                            <div class="col-md-10">
                                <div class="radio">
                                    <label class="form-radio form-normal active">
                                        <input type="radio" name="list_type" value="1"> 拍卖
                                    </label>

                                    <label class="form-radio form-normal">
                                        <input type="radio" checked="" name="list_type" value="2"> 固价
                                    </label>

                                    <label class="form-radio form-normal">
                                        <input type="radio" name="list_type" value="3"> 多属性
                                    </label>
                                </div>
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">分类</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">ebay分类</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="ebay_cat_primary">
                                    <optgroup label="Cell Phones & Accessories">
                                        <option value="9355" id="o_fcatoption_9355" role="option">Cell Phones &amp; Smartphones</option>
                                        <option value="178893" id="o_fcatoption_178893" role="option">Smart Watches</option>
                                        <option value="58543" id="o_o_fcatoption_58543" role="option">Cell Phone Accessories > Accessory Bundles</option>
                                        <option value="166030" id="o_o_fcatoption_166030" role="option">Cell Phone Accessories > Armbands</option>
                                        <option value="132297" id="o_o_fcatoption_132297" role="option">Cell Phone Accessories > Audio Docks &amp; Speakers</option>
                                        <option value="20357" id="o_o_fcatoption_20357" role="option">Cell Phone Accessories > Batteries</option>
                                        <option value="123422" id="o_o_fcatoption_123422" role="option">Cell Phone Accessories > Cables &amp; Adapters</option>
                                        <option value="88468" id="o_o_fcatoption_88468" role="option">Cell Phone Accessories > Car Speakerphones</option>
                                        <option value="20349" id="o_o_fcatoption_20349" role="option">Cell Phone Accessories > Cases, Covers &amp; Skins</option>
                                        <option value="123417" id="o_o_fcatoption_123417" role="option">Cell Phone Accessories > Chargers &amp; Cradles</option>
                                        <option value="20373" id="o_o_fcatoption_20373" role="option">Cell Phone Accessories > Decals &amp; Stickers</option>
                                        <option value="146504" id="o_o_fcatoption_146504" role="option">Cell Phone Accessories > FM Transmitters</option>
                                        <option value="80077" id="o_o_fcatoption_80077" role="option">Cell Phone Accessories > Headsets</option>
                                        <option value="43307" id="o_o_fcatoption_43307" role="option">Cell Phone Accessories > Manuals &amp; Guides</option>
                                        <option value="96991" id="o_o_fcatoption_96991" role="option">Cell Phone Accessories > Memory Cards</option>
                                        <option value="48571" id="o_o_fcatoption_48571" role="option">Cell Phone Accessories > Memory Card Readers &amp; Adapters</option>
                                        <option value="35190" id="o_o_fcatoption_35190" role="option">Cell Phone Accessories > Mounts &amp; Holders</option>
                                        <option value="179406" id="o_o_fcatoption_179406" role="option">Cell Phone Accessories > Port Dust Covers</option>
                                        <option value="58540" id="o_o_fcatoption_58540" role="option">Cell Phone Accessories > Screen Protectors</option>
                                        <option value="68030" id="o_o_fcatoption_68030" role="option">Cell Phone Accessories > Signal Boosters</option>
                                        <option value="122962" id="o_o_fcatoption_122962" role="option">Cell Phone Accessories > Straps &amp; Charms</option>
                                        <option value="48677" id="o_o_fcatoption_48677" role="option">Cell Phone Accessories > Styluses</option>
                                        <option value="42425" id="o_o_fcatoption_42425" role="option">Cell Phone Accessories > Other</option>
                                        <option>Cables & Adapters</option>
                                    </optgroup>
                                    <optgroup label="Computers/Tablets & Networking">
                                        <option value="31492" id="o_o_fcatoption_31492" role="option">Cables & Connectors > Audio Cables &amp; Adapters</option>
                                        <option value="58300" id="o_o_fcatoption_58300" role="option">Cables & Connectors > Cable Testers</option>
                                        <option value="67858" id="o_o_fcatoption_67858" role="option">Cables & Connectors > Cable Ties &amp; Organizers</option>
                                        <option value="51169" id="o_o_fcatoption_51169" role="option">Cables & Connectors > Cabling Tools</option>
                                        <option value="74941" id="o_o_fcatoption_74941" role="option">Cables & Connectors > Drive Cables &amp; Adapters</option>
                                        <option value="31493" id="o_o_fcatoption_31493" role="option">Cables & Connectors > FireWire Cables &amp; Adapters</option>
                                        <option value="51172" id="o_o_fcatoption_51172" role="option">Cables & Connectors > KVM Switches &amp; KVM Cables</option>
                                        <option value="158840" id="o_o_fcatoption_158840" role="option">Cables & Connectors > Monitor/AV Cables &amp; Adapters</option>
                                        <option value="20311" id="o_o_fcatoption_20311" role="option">Cables & Connectors > Networking Cables &amp; Adapters &gt;</option>
                                        <option value="116848" id="o_o_fcatoption_116848" role="option">Cables & Connectors > Parallel, Serial &amp; PS/2</option>
                                        <option value="45342" id="o_o_fcatoption_45342" role="option">Cables & Connectors > Power Cables &amp; Connectors</option>
                                        <option value="44932" id="o_o_fcatoption_44932" role="option">Cables & Connectors > USB Cables, Hubs &amp; Adapters</option>
                                        <option value="3668" id="o_o_fcatoption_3668" role="option">Cables & Connectors > Other</option>
                                        <option value="131542" id="o_o_fcatoption_131542" role="option">Drives, Storage & Blank Media > CD, DVD &amp; Blu-ray Drives</option>
                                        <option value="31509" id="o_o_fcatoption_31509" role="option">Drives, Storage & Blank Media > CD, DVD &amp; Blu-ray Duplicators</option>
                                        <option value="158816" id="o_o_fcatoption_158816" role="option">Drives, Storage & Blank Media > Drive Bay Caddies</option>
                                        <option value="158817" id="o_o_fcatoption_158817" role="option">Drives, Storage & Blank Media > Drive Enclosures &amp; Docks</option>
                                        <option value="169" id="o_o_fcatoption_169" role="option">Drives, Storage & Blank Media > Floppy, Zip &amp; Jaz Drives</option>
                                        <option value="158830" id="o_o_fcatoption_158830" role="option">Drives, Storage & Blank Media > Hard Drives (HDD, SSD &amp; NAS) &gt;</option>
                                        <option value="175671" id="o_o_fcatoption_175671" role="option">Drives, Storage & Blank Media > Hard Drive Duplicators</option>
                                        <option value="39976" id="o_o_fcatoption_39976" role="option">Drives, Storage & Blank Media > Tape &amp; Data Cartridge Drives</option>
                                        <option value="51071" id="o_o_fcatoption_51071" role="option">Drives, Storage & Blank Media > USB Flash Drives</option>
                                        <option value="167" id="o_o_fcatoption_167" role="option">Drives, Storage & Blank Media > Other</option>
                                        <option value="80133" id="o_o_fcatoption_80133" role="option">Drives, Storage & Blank Media > Blank Media &amp; Accessories &gt;</option>
                                        <option value="61816" id="o_o_fcatoption_61816" role="option">Home Networking & Connectivity > Boosters, Extenders &amp; Antennas</option>
                                        <option value="175710" id="o_o_fcatoption_175710" role="option">Home Networking & Connectivity > Mobile Broadband Devices</option>
                                        <option value="58297" id="o_o_fcatoption_58297" role="option">Home Networking & Connectivity > Modems</option>
                                        <option value="101270" id="o_o_fcatoption_101270" role="option">Home Networking & Connectivity > Modem-Router Combos</option>
                                        <option value="67262" id="o_o_fcatoption_67262" role="option">Home Networking & Connectivity > Powerline Networking</option>
                                        <option value="44999" id="o_o_fcatoption_44999" role="option">Home Networking & Connectivity > USB Bluetooth Adapters/Dongles</option>
                                        <option value="45002" id="o_o_fcatoption_45002" role="option">Home Networking & Connectivity > USB Wi-Fi Adapters/Dongles</option>
                                        <option value="61840" id="o_o_fcatoption_61840" role="option">Home Networking & Connectivity > VoIP Home Phones</option>
                                        <option value="99269" id="o_o_fcatoption_99269" role="option">Home Networking & Connectivity > VoIP Phone Adapters</option>
                                        <option value="11183" id="o_o_fcatoption_11183" role="option">Home Networking & Connectivity > Wired Routers</option>
                                        <option value="175709" id="o_o_fcatoption_175709" role="option">Home Networking & Connectivity > Wireless Access Points</option>
                                        <option value="44995" id="o_o_fcatoption_44995" role="option">Home Networking & Connectivity > Wireless Routers</option>
                                        <option value="44996" id="o_o_fcatoption_44996" role="option">Home Networking & Connectivity > Other</option>
                                    </optgroup>
                                    <optgroup label="Consumer Electronics">
                                        <option value="112529" id="o_o_fcatoption_112529" role="option">Portable Audio & Headphones > Headphones</option>
                                        <option value="73839" id="o_o_fcatoption_73839" role="option">Portable Audio & Headphones > iPods &amp; MP3 Players</option>
                                        <option value="56169" id="o_o_fcatoption_56169" role="option">Portable Audio & Headphones > iPod, Audio Player Accessories &gt;</option>
                                        <option value="15053" id="o_o_fcatoption_15053" role="option">Portable Audio & Headphones > Personal Cassette Players</option>
                                        <option value="15054" id="o_o_fcatoption_15054" role="option">Portable Audio & Headphones > Personal CD Players</option>
                                        <option value="15056" id="o_o_fcatoption_15056" role="option">Portable Audio & Headphones > Personal MiniDisc Recorders</option>
                                        <option value="96954" id="o_o_fcatoption_96954" role="option">Portable Audio & Headphones > Portable AM/FM Radios</option>
                                        <option value="109256" id="o_o_fcatoption_109256" role="option">Portable Audio & Headphones > Portable Satellite Radios</option>
                                        <option value="48626" id="o_o_fcatoption_48626" role="option">Portable Audio & Headphones > Portable Stereos, Boomboxes</option>
                                        <option value="163769" id="o_o_fcatoption_163769" role="option">Portable Audio & Headphones > Replacement Parts &amp; Tools</option>
                                        <option value="3281" id="o_o_fcatoption_3281" role="option">Portable Audio & Headphones > Other</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="ebay_cat_secondary">
                                    <optgroup label="Cell Phones & Accessories">
                                        <option>Cell Phone Accessories</option>
                                        <option>Cables & Adapters</option>
                                    </optgroup>
                                    <optgroup label="Movie">
                                        <option>Action</option>
                                        <option>Comedy</option>
                                        <option>Adventure</option>
                                        <option>Drama</option>
                                        <option>Romance</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">商店分类</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" style="width:60%;" name="store_cat_primary">
                                    <option>Cable</option>
                                    <option>Audio</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" style="width:60%;" name="store_cat_secondary">
                                    <option>Cable</option>
                                    <option>Audio</option>
                                </select>
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">物品</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="demo-text-input">标题</label>

                            <div class="col-md-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="title" value="{{ item.title }}">

                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown"
                                                class="btn btn-info btn-labeled fa fa-magic dropdown-toggle"
                                                type="button"
                                                aria-expanded="true"><i class="dropdown-caret fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li class="dropdown-header">翻译</li>
                                            <li><a href="javascript:void(0);" class="gtranslate" data-text="title" data-lang="en">英语</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">工具</li>
                                            <li><a href="javascript:void(0);">替换同义词</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述</label>

                            <div class="col-md-10">
                                <textarea id="demo-summernote" style="display: none;">{{ item.describe|safe }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">售价</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="price" value="{{ item.price }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">数量</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <input type="email" class="form-control" name="quality" value="{{ item.quality }}">
                                    <span class="input-group-addon">Pics</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">物品状况</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="condition">
                                    <option value="1000" selected="selected">Brand New</option>
                                    <option value="2750">Like New</option>
                                    <option value="4000">Very Good</option>
                                    <option value="5000">Good</option>
                                    <option value="6000">Acceptable</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">刊登天数</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <select class="selectpicker" data-live-search="false" name="duration">
                                        <option value="Days_3">3 days</option>
                                        <option value="Days_5">5 days</option>
                                        <option value="Days_7">7 days</option>
                                        <option value="Days_10">10 days</option>
                                        <option value="Days_30">30 days</option>
                                        <option value="GTC" selected="selected">GTC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">物品所在地</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="item_location" value="{{ item.item_location }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">国家或地区</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:220px;" name="item_country">
                                    <option selected="selected">中国</option>
                                    <option>香港</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">邮政编码</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="item_postal" value="{{ item.item_postal }}">
                            </div>
                        </div>

                        <h5 class="control-label" style="text-align: left;">国内运输</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">处理时间</label>

                            <div class="col-md-10">
                                <select class="selectpicker" name="dispatch_time_max">
                                    <option>0</option>
                                    <option>1</option>
                                    <option selected="selected">2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运输方式</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="shipping_internal_service">
                                    <optgroup label="Economy services">
                                        <option value="US_DGMSmartMailGroundFromHK">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="US_DGMSmartMailGroundFromTW">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="US_DGMSmartMailGroundFromCN">DGM SmartMail Ground ( 3 to 8 business days )</option>
                                        <option value="Other">Economy Shipping ( 1 to 10 business days )</option>
                                        <option value="FedExSmartPost">FedEx SmartPost ( 2 to 8 business days )</option>
                                        <option value="USPSMedia">USPS Media Mail ( 2 to 8 business days )</option>
                                        <option value="USPSParcel">USPS Parcel Select ( 2 to 9 business days )</option>
                                        <option value="USPSStandardPost">USPS Standard Post ( 2 to 9 business days )</option>
                                    </optgroup>
                                    <optgroup label="Expedited services">
                                        <option value="ShippingMethodExpress">Expedited Shipping ( 1 to 4 business days )</option>
                                        <option value="FedEx2Day">FedEx 2Day ( 1 to 3 business days )</option>
                                        <option value="FedExExpressSaver">FedEx Express Saver ( 1 to 4 business days )</option>
                                        <option value="UPS2ndDay">UPS 2nd Day Air ( 2 to 3 business days )</option>
                                        <option value="UPS3rdDay">UPS 3 Day Select ( 3 to 4 business days )</option>
                                        <option value="USPSPriority">USPS Priority Mail ( 1 to 4 business days )</option>
                                        <option value="USPSExpressMail">USPS Priority Mail Express ( 1 to 2 business days )</option>
                                        <option value="USPSExpressFlatRateEnvelope">USPS Priority Mail Express Flat Rate Envelope ( 1 business day )</option>
                                        <option value="USPSExpressMailLegalFlatRateEnvelope">USPS Priority Mail Express Legal Flat Rate Envelope ( 1 business day )</option>
                                        <option value="USPSPriorityFlatRateEnvelope">USPS Priority Mail Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailLargeFlatRateBox">USPS Priority Mail Large Flat Rate Box ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailLegalFlatRateEnvelope">USPS Priority Mail Legal Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityFlatRateBox">USPS Priority Mail Medium Flat Rate Box ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailPaddedFlatRateEnvelope">USPS Priority Mail Padded Flat Rate Envelope ( 1 to 4 business days )</option>
                                        <option value="USPSPriorityMailSmallFlatRateBox">USPS Priority Mail Small Flat Rate Box ( 1 to 4 business days )</option>
                                    </optgroup>
                                    <optgroup label="One-day services">
                                        <option value="FedExPriorityOvernight">FedEx Priority Overnight ( 1 business day )</option>
                                        <option value="FedExStandardOvernight">FedEx Standard Overnight ( 1 business day )</option>
                                        <option value="ShippingMethodOvernight">One-day Shipping ( 1 business day )</option>
                                        <option value="UPSNextDayAir">UPS Next Day Air ( 1 business day )</option>
                                        <option value="UPSNextDay">UPS Next Day Air Saver ( 1 business day )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="US_DHLGlobalMailParcelDirectFromHK">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="US_DHLGlobalMailParcelDirectFromCN">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="US_DHLGlobalMailParcelDirectFromTW">DHL Global Mail Parcel Direct ( 4 to 12 business days )</option>
                                        <option value="EconomyShippingFromOutsideUS">Economy Shipping from outside US ( 11 to 23 business days )</option>
                                        <option value="ePacketChina" selected="selected">ePacket delivery from China ( 7 to 12 business days )</option>
                                        <option value="ePacketHongKong">ePacket delivery from Hong Kong ( 7 to 12 business days )</option>
                                        <option value="ExpeditedShippingFromOutsideUS">Expedited Shipping from outside US ( 1 to 4 business days )</option>
                                        <option value="US_FedExIntlEconomy">FedEx International Economy ( 2 to 4 business days )</option>
                                        <option value="StandardShippingFromOutsideUS">Standard Shipping from outside US ( 5 to 10 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromHK">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromCN">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpeditedFromTW">UPS WorldWide Expedited ( 3 to 5 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromTW">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromCN">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                        <option value="US_UPSWorldwideExpressSaverFromHK">UPS Worldwide Express Saver ( 4 to 12 business days )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="Pickup">Local Pickup</option>
                                    </optgroup>
                                    <optgroup label="Standard services">
                                        <option value="US_DGMSmartMailExpeditedFromHK">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="US_DGMSmartMailExpeditedFromCN">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="US_DGMSmartMailExpeditedFromTW">DGM SmartMail Expedited ( 2 to 5 business days )</option>
                                        <option value="FedExHomeDelivery">FedEx Ground or FedEx Home Delivery ( 1 to 6 business days )</option>
                                        <option value="ShippingMethodStandard">Standard Shipping ( 1 to 6 business days )</option>
                                        <option value="UPSGround">UPS Ground ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromCN">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromTW">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="US_UPSSurePostFromHK">UPS Surepost ( 1 to 6 business days )</option>
                                        <option value="USPSFirstClass">USPS First Class Package ( 2 to 6 business days )</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运费</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_internal_cost" value="{{ item.shipping_internal_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">额外每件加收</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_internal_additional_cost" value="{{ item.shipping_internal_additional_cost }}">
                                </div>
                            </div>
                        </div>

                        <h5 class="control-label" style="text-align: left;">国际运输</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运输方式</label>

                            <div class="col-md-10">
                                <select class="chosen-select" style="width:60%;" name="shipping_international_service">
                                    <optgroup label="Expedited services">
                                        <option value="ExpeditedDeliveryToRussia">Expedited International Courier Delivery to Russia ( 7 to 14 business days )</option>
                                    </optgroup>
                                    <optgroup label="Other services">
                                        <option value="OtherInternational">Economy Int'l Shipping</option>
                                        <option value="ExpeditedInternational">Expedited Int'l Shipping</option>
                                        <option value="FedExGroundInternationalToCanada">FedEx Ground International for Canada</option>
                                        <option value="FedExInternationalEconomy">FedEx International Economy</option>
                                        <option value="FedExInternationalPriority">FedEx International Priority</option>
                                        <option value="US_RUTrackedFromChina">RU Tracked Packet from China ( 7 to 15 business days )</option>
                                        <option value="StandardInternational" selected="selected">Standard Int'l Shipping</option>
                                        <option value="UPSStandardToCanada">UPS Standard To Canada</option>
                                        <option value="UPSWorldWideExpedited">UPS Worldwide Expedited ( 2 to 5 business days )</option>
                                        <option value="UPSWorldWideExpress">UPS Worldwide Express ( 1 to 2 business days )</option>
                                        <option value="UPSWorldWideExpressPlus">UPS Worldwide Express Plus ( 1 to 2 business days )</option>
                                        <option value="UPSWorldwideSaver">UPS Worldwide Saver ( 1 to 3 business days )</option>
                                        <option value="USPSFirstClassMailInternational">USPS First Class Mail Intl / First Class Package Intl Service</option>
                                        <option value="USPSExpressMailInternational">USPS Priority Mail Express International ( 3 to 5 business days )</option>
                                        <option value="USPSExpressMailInternationalFlatRateEnvelope">USPS Priority Mail Express International Flat Rate Envelope ( 3 to 5 business days )</option>
                                        <option value="USPSExpressMailInternationalLegalFlatRateEnvelope">USPS Priority Mail Express International Legal Flat Rate Envelope ( 3 to 5 business days )
                                        </option>
                                        <option value="USPSPriorityMailInternational">USPS Priority Mail International ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalFlatRateEnvelope">USPS Priority Mail International Flat Rate Envelope ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalLargeFlatRateBox">USPS Priority Mail International Large Flat Rate Box ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalLegalFlatRateEnvelope">USPS Priority Mail International Legal Flat Rate Envelope ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalFlatRateBox">USPS Priority Mail International Medium Flat Rate Box ( 6 to 10 business days )</option>
                                        <option value="USPSPriorityMailInternationalPaddedFlatRateEnvelope">USPS Priority Mail International Padded Flat Rate Envelope ( 6 to 10 business days )
                                        </option>
                                        <option value="USPSPriorityMailInternationalSmallFlatRateBox">USPS Priority Mail International Small Flat Rate Box ( 6 to 10 business days )</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运费</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_international_cost" value="{{ item.shipping_international_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">额外每件加收</label>

                            <div class="col-md-10">
                                <div class="input-group" style="width: 220px;">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" name="shipping_international_additional_cost" value="{{ item.shipping_international_additional_cost }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运送范围</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="shipping_international_area" value="{{ item.shipping_international_area }}">
                            </div>
                        </div>


                        <h5 class="control-label" style="text-align: left;">付款</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">PayPal</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false" name="payment_account">
                                    <option selected="selected">xieshizheng07@gmail.com</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">收款要求</label>

                            <div class="col-md-10">
                                <select class="selectpicker" multiple title="Choose one of the following...">
                                    <option>American express</option>
                                    <option>Cash on pickup accepted</option>
                                    <option>Discover card</option>
                                    <option>Integrated merchant credit card</option>
                                    <option>Money order / Cashier's check</option>
                                    <option>Other - See item description</option>
                                    <option>Personal check</option>
                                    <option>Visa or Master card</option>
                                    <option selected="selected">Require immediate payment</option>
                                    <option>Other online payments</option>
                                </select>
                            </div>
                        </div>
                        <h5 class="control-label" style="text-align: left;">退货政策</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货政策</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="ReturnsAccepted" selected="selected">Returns Accepted</option>
                                    <option value="ReturnsNotAccepted">Returns Not Accepted</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货天数</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="Days_14" selected="selected">14 days</option>
                                    <option value="Days_30">30 days</option>
                                    <option value="Days_60">60 days</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退款方式</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option value="MoneyBack" selected="selected">Money Back</option>
                                    <option value="MoneyBackOrReplacement">Money back or replacement (buyer's choice)</option>
                                    <option value="MoneyBackOrExchange">Money back or exchange (buyer's choice)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">退货运费承担</label>

                            <div class="col-md-10">
                                <select class="selectpicker" data-live-search="false">
                                    <option selected="selected">Buyer</option>
                                    <option>Seller</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <button class="btn btn-info btn-labeled fa fa-save fa-lg dropdown-toggle"
                                data-toggle="dropdown" type="button" aria-expanded="true">
                            工具 <i class="dropdown-caret fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0)" onclick="gen_category()">刷新目录</a></li>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">即将支持</li>
                            <li><a href="#">wish</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-warning btn-labeled fa fa-save fa-lg" type="button" onclick="list_ebay_save()">保存</button>
                    <button class="btn btn-danger btn-labeled fa fa-plus-square-o fa-lg" type="button">立即刊登</button>
                </div>
            </form>
            <!--===================================================-->
            <!-- END OF INPUT SIZE  -->

        </div>
    </div>
{% endblock %}