{% extends 'base.html' %}
{% block title %}刊登{% endblock %}
{% block page_title %}刊登{% endblock %}
{% block css %}
    <style type="text/css">
        .input-group-btn > .btn {
            height: 32px;
        }

        .thumbnail .caption {
            padding: 5px 0 5px 0;
        }

        .thumbnail .caption > label {
            width: 100%;
        }

        .chosen-container {
            margin-bottom: 0;
        }

        .chosen-container-single .chosen-single {
            font-size: 12px;
        }
    </style>
    <link href="/static/js/lightbox-2.7.1/css/lightbox.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/jquery.lazyload-1.9.3/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="/static/django_ajax/js/jquery.ajax-plugin.min.js"></script>
    <script type="text/javascript" src="/static/js/lightbox-2.7.1/js/lightbox.min.js"></script>
    <script type="text/javascript">
        function gen_category() {
            ajaxPost('/api/gen_category/', function (response) {
                alert(response.result);
            });
        }

        $(document).ready(function () {
            $('#demo-summernote').summernote({height: 250});
            $('img.lazy').lazyload();

            $('a.gtranslate').click(function () {
                var obj = $(this);
                var lang = obj.attr('data-lang');
                var target = 'input[name="' + obj.attr('data-text') + '"]';
                var text = $(target).attr('value');
                ajaxPost('/api/translate/', {'text': text, 'lang': lang}, function (response) {
                    $(target).val(response.result);
                });
            });

            $('.chosen-select').chosen();
            $('.selectpicker').selectpicker();
        });

    </script>
{% endblock %}
{% block breadcrumb %}
    <li><a href="#">首页</a></li>
    <li><a href="#">刊登</a></li>
    <li class="active"><a href="#">产品</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">产品</h3>
            </div>


            <!--INPUT SIZE-->
            <!--===================================================-->
            <form method="post">

                <div class="panel-body form-horizontal">
                    <div class="col-md-12">
                        <h5 class="control-label" style="text-align: left;">来源</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">网址</label>

                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="page" placeholder="输入要抓取的网址"
                                           value="{{ item.url }}">

                                    <div class="input-group-btn">
                                        <button class="btn btn-danger btn-labeled fa fa-paw" type="submit">抓取</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="control-label" style="text-align: left;">内容</h5>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">标题</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" name="title" value="{{ item.title }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">价格</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="purchasing_price" value="{{ item.purchasing_price }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">货源</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="purchasing_location" value="{{ item.purchasing_location }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">运费</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" style="width: 220px;" name="purchasing_shipping" value="{{ item.purchasing_shipping }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述</label>

                            <div class="col-md-10">
                                <div id="demo-summernote" style="display: none;">{{ item.content|safe }}</div>
                            </div>
                        </div>
                        <h5 class="control-label" style="text-align: left;">图片</h5>
                        <hr>
                    </div>

                    {% for image in item.get_image_list %}
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <a href="{{ image }}" data-lightbox="roadtrip">
                                    <img class="lazy" src="{{ image }}" data-holder-rendered="true"
                                         style="height: 100px; width: 100%; display: block;">
                                </a>

                                <div class="caption">
                                    <label class="form-checkbox form-normal form-info">
                                        <input type="checkbox"> 图片 {{ forloop.counter }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="panel-footer text-right">
                    <button class="btn btn-warning btn-labeled fa fa-save fa-lg" type="submit">保存</button>
                    <div class="btn-group">
                        <button class="btn btn-danger btn-labeled fa fa-plus-square-o fa-lg dropdown-toggle"
                                data-toggle="dropdown" type="button" aria-expanded="true">
                            添加刊登 <i class="dropdown-caret fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0)" onclick="">ebay</a></li>
                        </ul>
                    </div>
                </div>

            </form>
            <!--===================================================-->
            <!-- END OF INPUT SIZE  -->

        </div>
    </div>

{% endblock %}