{% extends 'base.html' %}
{% block title %}刊登{% endblock %}
{% block page_title %}刊登{% endblock %}
{% block breadcrumb %}
    <li class="active"><a href="#">首页</a></li>
    <li><a href="#">刊登</a></li>
{% endblock %}
{% block content %}
    <div class="panel">

        <!--DATA TABLE-->
        <!--===================================================-->

        <div class="panel-body">

            <div class="bootstrap-table">
                <div class="fixed-table-toolbar">
                    <div class="bars pull-left">
                        <h4 id="demo-custom-toolbar" class="box-inline text-thin">
                            刊登
                        </h4>
                    </div>
                    <div class="columns btn-group pull-right">
                        <a class="btn btn-success btn-labeled fa fa-plus-square-o" href="/listing/detail/new/">新建</a>
                    </div>
                </div>
                <div class="fixed-table-container">
                    <div class="fixed-table-header">
                        <table></table>
                    </div>
                    <div class="fixed-table-body">
                        <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                        <table id="demo-table" class="table-striped table table-hover"
                               data-toolbar="#demo-custom-toolbar" data-sort-name="id" data-sort-order="desc"
                               data-pagination="true" data-url="data1.json" data-show-refresh="true"
                               data-show-toggle="true" data-show-columns="true" data-search="true"
                               data-select-item-name="toolbar1">
                            <thead>
                            <tr>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">序号</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="">
                                    <div class="th-inner sortable">标题</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">来源</div>
                                    <div class="fht-cell"></div>
                                </th>
                                <th style="text-align: center; ">
                                    <div class="th-inner sortable">发布状态</div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr data-index="{{ forloop.counter }}">
                                    <td style="text-align: center;">{{ forloop.counter }}</td>
                                    <td style=""><a class="btn-link" href="/listing/detail/{{ item.id }}/" target="_self">{{ item.title }}</a></td>
                                    <td style="text-align: center; ">
                                        <a class="label label-default" href="{{ item.url }}" target="_blank">1688</a>
                                    </td>
                                    <td style="text-align: center; ">
                                        {% if item.ebayproductitem_set.count > 0 %}
                                            {% for ebay in item.ebayproductitem_set.all %}
                                                <a class="label label-success" href="/listing/detail/ebay/{{ ebay.id }}/">{{ ebay.account }}</a>
                                                {% if ebay.item_id %}<a target="_blank" href="http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&item={{ ebay.item_id }}">{{ ebay.item_id }}</a>{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="label label-warning"> 未发布</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="fixed-table-pagination">
                        <div class="pull-left pagination-detail">
                            {#                            <span class="pagination-info">第 {{ stuffs.start_index }} 至 {{ stuffs.end_index }} 条</span>#}
                            <span class="pagination-info"> 第 {{ items.number }} 页 共 {{ items.paginator.num_pages }} 页</span>
                            <span class="page-list">
                                每页
                                <span class="btn-group dropup">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="page-size">25</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)">10</a></li>
                                        <li class="active"><a href="javascript:void(0)">25</a></li>
                                        <li><a href="javascript:void(0)">50</a></li>
                                        <li><a href="javascript:void(0)">100</a></li>
                                    </ul>
                                </span>
                                条
                            </span>
                        </div>
                        <div class="pull-right pagination">
                            <ul class="pagination">
                                {% if items.has_previous %}
                                    <li class="page-first"><a href="?page=1">首页</a></li>
                                    <li class="page-pre"><a href="?page={{ items.previous_page_number }}">上一页</a></li>
                                    {% if items.previous_page_number > 1 %}
                                        <li class="page-number"><a href="?page={{ items.previous_page_number|add:-1 }}">{{ items.previous_page_number|add:-1 }}</a></li>
                                    {% endif %}
                                    <li class="page-number"><a href="?page={{ items.previous_page_number }}">{{ items.previous_page_number }}</a></li>
                                {% else %}
                                    <li class="page-pre disabled"><a href="javascript:void(0)">上一页</a></li>
                                {% endif %}
                                <li class="page-number active"><a href="javascript:void(0)">{{ items.number }}</a></li>
                                {% if items.has_next %}
                                    <li class="page-number"><a href="?page={{ items.next_page_number }}">{{ items.next_page_number }}</a></li>
                                    {% if items.paginator.num_pages > items.next_page_number %}
                                        <li class="page-number"><a href="?page={{ items.next_page_number|add:1 }}">{{ items.next_page_number|add:1 }}</a></li>
                                    {% endif %}
                                    <li class="page-next"><a href="?page={{ items.next_page_number }}">下一页</a></li>
                                    <li class="page-last"><a href="?page={{ items.paginator.num_pages }}">末页</a></li>
                                {% else %}
                                    <li class="page-next disabled"><a href="javascript:void(0)">下一页</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--===================================================-->
        <!--END OF DATA TABLE-->


    </div>
{% endblock %}